{% extends 'basic.html' %}

{% block content %}
{% if messages %}
        {% for message in messages %}
            <strong style="color:red;">{{ message }}</strong>
        {% endfor %}
{% endif %}
    <h2>Список заявок</h2>
    <ul>
        {% for form in application_list %}
            <li>
                {% if form.created_at == form.updated_at%}
                    <h3>Создано: {{ form.created_at }}</h3>
                {% else %}
                    <h3>Обновлено: {{ form.updated_at }}</h3>
                {% endif %}
                <h3>{{ form.title_application }}</h3>
                <p>{{ form.description_application }}</p>
                <p>Категория: {{ form.category }}</p>
                <p>Статус: {{ form.status }}</p>
                <p>Кем: {{ form.user }}</p>

                {% if form.image %}
                    <img src="{{ form.image.url }}" alt="Image" />
                {% else %}
                    <p>Изображение не доступно</p>
                {% endif %}

                <a href="{% url 'confirm_delete_application' form.id %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}