<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'create_application' %}">Создать заявку</a>
    <a href="{% url 'application_list' %}">Заявки</a>
    <a href="{% url 'profile' %}">профиль</a>
</header>

<main>
    {% block content%}
    {% endblock%}
</main>

</body>
</html>